<p><%= link_to "Update new photo", new_photo_path, class: "btn btn-default"%></p>
<% if @photos == [] %>
<p>Photo ninchen</p>
<% else %>
<% @photos.each do |photo| %>
<b><%= photo.name %></b>
<p><%= image_tag(photo.photo_url) %></p>
<% end %>
<% end %>
