
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet"> 
 
    <footer class="footer">
      <div class="container">
 <ul class="social-icon animate pull-right">
                  <li><a href="https://http://ror-blog1-bulina.herokuapp.com/" title="facebook" target="_blank"><i class="fa fa-facebook"></i></a></li> <!-- change the link to social page and edit title-->
                  <li><a href="https://ror-blog1-buletsa.herokuapp.com" title="twitter" target="_blank"><i class="fa fa-twitter"></i></a></li>
                  <li><a href="https://ror-myblog-lazorishinets.herokuapp.com/" title="google plus" target="_blank"><i class="fa fa-google-plus"></i></a></li>
                </ul>
                </div>
    </footer>
